:root {
    --font-body: "Titillium Web", sans-serif;
    --font-headline: "Kanit", sans-serif;
    /* colors */
    --primary-color: #526C8D;
    --secondary-color: #9D3433;
    --tertiary-color: #122936;
    --light-grey: #d0d0d0;

    /* font sizes */
    --font-base: 19px;
    --small-font: 1em;
    --large-font: 1.5em;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body{
    text-align: center;
}

h1, h2, h3{
    font-family: var(--font-headline);
    font-size: var(--large-font);
}

p{
    font-family: var(--font-body);
    font-size: var(--small-font);
}

a{
    text-decoration: none;
}

/* Home page */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.logo-container img {
    width: 200px;
}
  
.menu {
    display: flex;
    gap: 2rem;
    align-items: center;
}

/* style the banner */
.banner {
    background-color: var(--secondary-color);
}

/* hide the scrollbar on the posters-container */
.posters-container::-webkit-scrollbar, .fav-user-list::-webkit-scrollbar {
    width: 0.5rem;
    background-color: transparent;
  }
  
.posters-container::-webkit-scrollbar-thumb, .fav-user-list::-webkit-scrollbar-thumb {
    background-color: var(--light-grey);
}
  
.posters-container::-webkit-scrollbar-track, .fav-user-list::-webkit-scrollbar-track {
    background-color: transparent;
}
  
.banner {
    background-color: var(--secondary-color);
}

.banner h1, .banner p, .fav-user-list h3 {
    padding: .5rem;
    color: whitesmoke;
}

/*USER PAGE*/
.fav-user-list{
    background-color: var(--tertiary-color);
}
.fav-user-list li{
    list-style: none;
}
.fav-container{
    margin: .2rem .5rem;
    padding: 0;
    box-shadow: 1px 2px 3px var(--light-grey);
}
#favMovie-icon{
    width: 30px;
    height: 30px;
}