:root {
    --font-body: "Titillium Web", sans-serif;
    --font-headline: "Kanit", sans-serif;
    /* colors */
    --primary-color: #122936;
    --secondary-color: #9D3433;
    --tertiary-color: #40125f;
    --light-grey: #e6d9d9;
    --quaternary: #405d85;

    /* font sizes */
    --font-base: 19px;
    --small-font: 1em;
    --large-font: 1.5em;

    --glowing-filter: drop-shadow(0 0 0.70rem #526C8D);

}

* {
    box-sizing: border-box;
    margin: 0;
}

body{
    text-align: center;
}

h1, h2, h3{
    font-family: var(--font-headline);
    color: white;
    font-size: var(--large-font);
}

p, #primaryNav li{
    font-family: var(--font-body);
    font-size: var(--small-font);
}

a, #primaryNav li{
    text-decoration: none;
}
#primaryNav{
    background-color: var(--quaternary);
    padding: 1rem 0;
    border-radius: 20px;
}
#primaryNav li{
    font-size: 18px;
    padding: 1rem 3rem;
}
#primaryNav li:hover{
   background-color: var(--primary-color);
}
#hamburgerBtn:hover{
    background-color: var(--light-grey);
}
nav ul, #hamburgerBtn span:nth-child(2), #hamburgerBtn.open span:nth-child(1) {
    display: none;
}
#hamburgerBtn span:nth-child(1), #hamburgerBtn.open span:nth-child(2) {
    display: block;
}
nav ul.open{
    display: block;
    position: absolute;
    z-index: 3;
    right: 10px;
    margin-top: .5rem;
}
label, input, textarea{
    display: block;
    text-align: start;
    padding: .5rem;
    width: 100%;
}
form{
    padding-bottom: 1.5rem;
}
footer, footer a{
    background-color: var(--primary-color);
    color: var(--light-grey);
}
footer{
    flex-direction: column;
    padding: 1rem 0;
    margin-top: 5rem;
}
footer a:hover{
    text-decoration: underline;
}

/* Home page */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .2rem;
  }
  
.logo-container img {
    width: 200px;
}
.logo-container-footer img{
    width: 150px;
    background-color: #fff;
    border-radius: 50%;
}
.logo-container-footer{
    max-width: 500px;
   
}
.menu, footer {
    display: flex;
    gap: 2rem;
    align-items: center;
}

/* style the banner */
.banner {
    background-image: linear-gradient(90deg, #40125f 6%, rgba(157,52,51,1) 28%, rgba(201,41,41,1) 51%, rgba(201,41,41,1) 76%, #40125f 91%);
}

.posters-container::-webkit-scrollbar {
    display: none; /* hide the scrollbar for the banner */
}

/* hide the scrollbar on the posters-container */
.list-container::-webkit-scrollbar, 
.fav-user-list::-webkit-scrollbar {
    width: 0.5rem; /* sets the width of the scrollbar */
    background-color: transparent;
}
  
.fav-user-list::-webkit-scrollbar-thumb, input {
    background-color: white;
}
  
.list-container::-webkit-scrollbar-track, 
.fav-user-list::-webkit-scrollbar-track{
    background-color: transparent;
}
  
.list-container::-webkit-scrollbar-thumb {
    background-color: var(--tertiary-color);
}

h3.movie-title {
    padding: 1rem 0;
    max-width: 250px;
    width: 100%;
}

.banner {
    background-color: var(--secondary-color);
}

.banner h1, .banner p {
    padding: 1rem;
    color: white;
    text-shadow: 0 0 5px #d0d0d0;
}

.banner p img {
    display: inline; 
    vertical-align:bottom; 
}


.bannerSection h2 {
    color: var(--tertiary-color);
    background-color: transparent;
    margin-top: 1em;
    margin-bottom: -1.5em;
}

#scroll-Btn {
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 2;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.728);
    padding: .5rem;
    border-radius: 10px;
}

/*USER PAGE*/

.userContainer h1 {
    color: var(--secondary-color);
}
.userContainer li, #primaryNav li {
    list-style: none;
}
.userContainer p, #primaryNav li a {
    color: white;
}
.userContainer h2 {
    padding-top: 1rem;
}
.fav-container, .watchlist-Container{
    margin: 1rem 0;
    padding: 0;
    box-shadow: 1px 2px 3px var(--light-grey);
}
.fav-container {
    background-color: var(--secondary-color);
}

.watchlist-Container {
    background-color: var(--quaternary);
}
#favMovie-icon{
    width: 30px;
    height: 30px;
}
.movie-title {
    text-overflow: ellipsis;
    max-width: 250px;
    padding: 0;
}

/* search results page */

.resultsList {
    background-color: var(--primary-color);
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 35px;
    overflow: hidden;
    padding: 40px 0;
}

.resultsList .movie-details h3 {
    color: white;
    margin: 0;
    margin-top: auto;
}


#fav-Btn {
    margin: auto;
    padding: 0;
    
}
#fav-Btn img, #watchlist-Btn img{
    width: 30px; 
}
#fav-Btn:hover, #watchlist-Btn:hover, #loginBtn:hover {
    transform: scale(1.15);
}
#posterImg {
    max-width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

#posterImg:hover{
    transform: scale(1.1);
    cursor: pointer;
    border: solid 2px var(--light-grey);
    filter: var(--glowing-filter);
}
.movie-details p, #movie-detail  p, #movie-comments{
    color: white;
}

.movie-details {
    display: flex;
    flex-direction: column;
    position: relative;
}

#movie-detail, #movie-comments{
    background-image: linear-gradient(90deg, #9d3533f6 0%, rgba(62, 59, 145, 0.954) 100%);
    /* background-image: linear-gradient(to right, #631f90f6, #526c8df1, #122936e6, #122936e6, #9d3533); */
}

.btnContainer button, #fav-Btn, #watchlist-Btn {
    background: none;
    border: none;
    cursor: pointer;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
.rotation {
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
#commtBtn{
    font-size: 1.3rem;
    text-align: center;
    background-color: var(--secondary-color);
    color: #d0d0d0;
    border: none;
}
#commtBtn:hover{
    background-color: rgb(141, 26, 24)
}

#resultsContainer {
    background-color: var(--primary-color);
}

#noResults {
    padding: 1rem;
}

/* watch party page */

#party-form {
    width: 80%;
    margin: auto;
    color: white;
    padding: .5rem;
    margin-bottom: 1rem;
}
#party-form button {
    margin-top: .7rem;
}
#party-form li {
    color: var(--primary-color);
}
#party-form li:hover {
    color: white;
}
.watchlist-comments, #commtWatchParty {
    width: 80%;
    margin: auto;
    color: white;
}

#commtWatchParty {
    text-align: center;
    background-color: var(--tertiary-color);
    cursor: pointer;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

#commtWatchParty:hover {
    transform: scale(1.1);
}

.trailerSection{
    margin: 1rem 0;
    padding: 2rem;
    background-color: var(--primary-color);
}

.partySection {
    background-color: var(--primary-color);
    padding: 1.5rem;
}
iframe {
    max-width: 100%;
    width: 560px;
    height: 315px;
    filter: var(--glowing-filter);
}

.joinBtn {
    grid-row: 2/3;
    width: fit-content;
    padding: 0.5em;
    font-family: var(--font-body);
    font-size: medium;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 20px 0;
}

.userIcons {
    display: flex;
    align-items: center;
}

.userIcons h3 {
    margin-right: .5rem;
}
.onlineUsers {
    display: inline-block;
    position: relative;
    padding: 10px;
}
  
.icon-text {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    transition: opacity 0.3s;
}
  
.onlineUsers:hover .icon-text {
    opacity: 1;
}


.joinBtn:hover {
    transform: scale(1.1);
}

.movie-info {
    margin-top: 1em;
    color: var(--light-grey);
    text-align: start;
}

.mov-inf-rating, .mov-inf-descr, fieldset{
    background-color: var(--secondary-color);
    padding: 10px;
    color: white;
}

.delBtn{
    position: relative;
    z-index: 2;
}
.delete-movie:hover{
    opacity: 5;
    color: #fff;
    transform: scale(1.1);
}

/* planning page */

#planning-form {
    width: 80%;
    margin: auto;
    background-color: var(--quaternary);
    padding: 1rem;
}

#planning-form label {
    color: white;
}
#planning-form input:required {
    border-left: solid 4px var(--secondary-color);
    background-color: var(--light-grey);
}
#planning-form input:valid {
    border-left: solid 4px rgb(57, 117, 82);
    background-color: white;
}
#planning-form button {
    font-family: var(--font-headline);
    margin-top: 15px;
    padding: 5px;
    color: var(--quaternary);
    border-radius: 7px;
    cursor: pointer;
}
#planning-form button:hover {
    transform: scale(1.1);
}

#nightsContainer {
    background-color: var(--light-grey);
    width: 80%;
    margin: 2rem auto;
    padding: .2rem;
    border-radius: 10px;
}
#nightsContainer h2{
    color: var(--secondary-color);
}
.planned-night {
    background-color: var(--secondary-color);
    padding: .5rem;
    margin: 10px;
    color: white;
    border-radius: 10px;
    text-align: start;
}

.suggestions-dropdown {
    background-color: white;
    list-style: none;
    text-align: left;
    padding: 0 5px;
    margin: 0;
}

.suggestions-dropdown li:hover{
    background-color: var(--tertiary-color);
    color: white;
    cursor: pointer;
}

/* breadcrumb */
.breadcrumb-list {
    display: flex;
    list-style: none;
    background-color: var(--secondary-color);
    margin: 15px 0;
    align-items: center;
}
.breadcrumb-item {
    margin: 10px;
    color: white;
}
.breadcrumb-slash {
    color: white;
    margin: 10px;
}
.breadcrumb-item a {
    color: white;
}
.breadcrumb-home {
    margin-left: 10px;
}

@media screen and (min-width: 700px) {
    fieldset{
        width: 80%;
        margin: auto;
        max-width: 500px;
        box-shadow: 0px 0px 8px var(--light-grey);
    }
    
    #movie-detail, footer{
        padding-top: 1rem;
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }
    .footer-desc{
        grid-column: 1/3;
        padding: 1rem;
    }
    .authors{
        text-align: start;
    }
    .error-Mess {
        grid-column: 1/3;
        padding: 10px;
        margin-bottom: .5rem;
    }
    .error-Mess a {
        color: white;
        text-decoration: underline;
    }
    .mov-inf{
        display: flex;
        flex-direction: column;
        grid-column: 1/2;
        justify-content: center;
        text-align: end;
    }

    .mov-inf p{
        text-align: end;
    }
    .mov-inf-img{
        grid-column: 2/3;
        justify-self: start;
        margin-left: 20px;
        filter: drop-shadow(0 0 0.70rem white);
    }
    .mov-inf-descr, .mov-inf-rating{
        grid-column: 1/3;
        margin: 0 5rem;
    }
    .mov-inf-descr {
        margin-top: 1.5rem;
    }
    .trailerSection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .joinBtn, .userIcons {
        margin: auto;
    }
    .create-Party .joinBtn {
        margin: 20px;
    }
    .reviews{
        border: 1px solid var(--light-grey);
        margin: .5rem 5rem;
        padding: .5rem;
        border-radius: 10px;
        box-shadow: 0px 0px 8px var(--light-grey);
    }
    .main-header{
        display: grid;
        grid-template-columns: 1fr 3fr 2fr 1fr;
    }
    .logo-container{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .menu{
        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: center;
    }
    .search-movie{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .login-icon{
        grid-column: 4/5;
        grid-row: 1/2;
    }
    #login-user legend{
        font-size: var(--large-font);
        padding: 10px;
        color: var(--secondary-color);
        font-family: var(--font-headline);
    }
    #loginBtn {
        width: 50%;
        margin: auto;
        text-align: center;
    }
    #hamburgerBtn{
        display: none;
    }   
    nav ul{
        display: flex;
        flex-direction: row;
        
    } 
    #primaryNav{
        background-color: transparent;
        
    }
    #primaryNav li{
        padding: .5rem;
        
    }
    #primaryNav li a{
        color: #9D3433;
    }
    #primaryNav li:hover{
        background-color: transparent;
        border: 1px solid #40125f;
    }
    .watchListContainer iframe {
        width: 70vw; /* 70% of the viewport width */
        height: calc(70vw * (315 / 560)); /* Calculate the height to maintain the aspect ratio */
        max-width: 100%; /* Set a maximum width to ensure it doesn't exceed the screen width */
      }
}