:root {
    --font-body: "Titillium Web", sans-serif;
    --font-headline: "Kanit", sans-serif;
    /* colors */
    --primary-color: #526C8D;
    --secondary-color: #9D3433;
    --tertiary-color: #122936;
    --light-grey: #d0d0d0;

    /* font sizes */
    --font-base: 19px;
    --small-font: 1em;
    --large-font: 1.5em;
}

* {
    box-sizing: border-box;
}

h1, h2, h3{
    font-family: var(--font-headline);
    font-size: var(--large-font);
}

p{
    font-family: var(--font-body);
    font-size: var(--small-font);
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-container img {
    width: 200px;
  }
  
  .menu {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  